@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

html {
  box-sizing: border-box ;
  -webkit-webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-webkit-box-sizing: inherit;
}

@mixin styling() {
  background-color: #2b2727;
  color: white;
}

@mixin selected() {
  position: absolute;
  color: white;
  top: 33%;
  left: 4%;
}

body {
  margin: 20px, 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #202020;
  background-color: #fbfbfb;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.dd-wrapper {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
  .dd-header {
    @include styling;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    &__title--bold {
      font-weight: bold;
    }
  }
  .dd-list {
    padding: 0;
    margin: 0;
    width: 100%;


    li[data-content="Lingue Audio"],
    li[data-content="Sottotitoli"]{
      pointer-events: none;
      > .fa.fa-check.selected {
          @include selected;
      }
      > button {
          font-weight: bold;
          > span {
            margin-left: 0;
          }
      }
    }

    &__item {
      list-style-type: none;
      position: relative;

      button {
        @include styling;
        width: 100%;
        font-size: 16px;
        text-align: left;
        padding: 15px 20px 15px 20px;
        border: 0;
        > .fa.fa-check.selected {
            @include selected;
            color: white
        }
        &:hover, &:focus, &.--active {
          cursor: pointer;
          font-weight: bold;
          background-color: #66efaf;
          color: #2b2727;
          >.fa.fa-check.selected {
            @include selected;
            color: black;
          }
        }
        > span {
          margin-left: 5%;
        }
      }
    }
  }
}
